*{
  box-sizing: border-box;
  margin-top: 10px;
  font-family: Comic Sans MS;
}
#h1 {
  margin-bottom: 15px;
  text-align: center;
}
#container {
  border: 3px solid black;
  margin: 0;
  font-size: 18px;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #7B7F82;
  color: black;
}
p {
  position: relative;
  top: 20px;
}
#t1 {
  font-size: 20px;
  margin: 0;
  width: 110px;
  height: 35px;
  color: white;
  text-align: center;
  background-color: red;
  opacity: .7;
  float: right;
  border: 1px solid black;
}
#t2 {
  font-size: 20px;
  margin: 0;
  width: 110px;
  height: 35px;
  color: white;
  text-align: center;
  background-color: #199AFC;
  opacity: .7;
  float: right;
  border: 1px solid black;
}
#t3 {
  font-size: 20px;
  margin: 0;
  width: 110px;
  height: 35px;
  color: white;
  text-align: center;
  background-color: #BE19FC;
  opacity: .7;
  float: right;
  border: 1px solid black;
}
/********** Large devices only **********/
 @media (min-width: 992px) {
 .col-lg-4 {
    float: left;
    border: 10px solid white;

  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 767px) and (max-width: 991px) {
 .col-md-6,.col-md-12 {
    float: left;
    border: 10px solid white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}